psutil
pyperclip
pynput
pystray @ git+https://github.com/RICHQAQ/pystray.git@master
Pillow
plyer
openpyxl
python-docx
beautifulsoup4
lxml

pywin32 ; platform_system == "Windows"
pync ; platform_system == "Darwin"